<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Danh sách sinh viên</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Danh sách sinh viên</h1>
        <a href="/student/create">Thêm sinh viên mới</a>
        <table border="1">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Tên</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="student : ${student}">
                    <td th:text="${student.id}"></td>
                    <td th:text="${student.name}"></td>
                    <td th:text="${student.email}"></td>
                    <td>
                        <a th:href="@{/student/edit/{id}(id=${student.id})}">Sửa</a>
                        <a th:href="@{/student/delete/{id}(id=${student.id})}">Xóa</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
